.threads-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: #0D0D0F;
}

.threads-container canvas {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #0D0D0F;
  will-change: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
